<!DOCTYPE html>
<html>

<head>
    <title>Realtime Markdown Viewer</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="column column-100 column-offset-10">
                <a href="/" onclick="return confirmExit();">
                    <h3>Marked : A Markdown Editor for the Web</h3>
                </a>
                <div><button class="button" id="save-btn">Save</button></div>
                <div id="file-download"></div>
            </div>
        </div>
        <section class="row full-height">
            <textarea class="column column-50 fill" id="pad">Write your text here..</textarea>
            <div class="column column-50 fill" id="markdown"></div>
        </section>
    </div>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script>
        $(document).ready(function () {

            // jQuery methods go here...
            $('#save-btn').click(() => {
                var htmlText = $('#markdown').html();
                var getUrl = window.location;
                var baseUrl = getUrl.protocol + "//" + getUrl.host;
                var url = baseUrl + '/save';
                const reqVal = {
                    value: htmlText
                };

                $.post(url, reqVal, (data) => {
                    console.log(data);
                    $('#file-download').html(data);
                });
            });
        });
    </script>
</body>

</html>