/* public/style.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} 

.full-height {
    height: 92%;
}

.fill {
    height: 100%;
    overflow: hidden;
}

.container {
    height: 90vh;
    width: 84.5vw;
}

#pad{
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#markdown {
    overflow: auto;
    border-left: 1px solid black;
}

.tool-bar {
    
}

.nav-bar {
    padding: .25em 0;
}